/* ===== Theme tokens ===== */
:root {
  /* base (oscuro) */
  --bg: #37393E;
  --surface: #2a2c31;
  --surface-2: #605B6C;
  --elev: #1f2126;
  --white:#cecece;
  --text: #e6e7eb;
  --text-muted: #c9cad1;
  --border: #3b3d44;

  --accent: #8b5cf6;
  --accent-2: #b085ff;

  /* chat bubbles */
  --bubble-other: #2f3136;
  --bubble-self: #b1b3ba;

  /* sidebars */
  --side-bg: #1f2126;
  --side-servers: #141516;
  --side-card: #2b2d31;
  --side-border: #3b3d44;
  --side-hover: #35383f;
  --side-active: #423a4b;
  /* Members */
  --member-card: #313338;
  --border-card: #3c3f45;


}

/* ===== Tema claro ===== */
:root[data-theme="light"] {
  /* Base */
  --bg: #f3f4f7;         /* fondo global muy claro, casi blanco */
  --surface: #ffffff;    /* paneles principales */
  --surface-2: #cfcfcf;  /* inputs / cajas secundarias */
  --elev: #ffffff;

  /* Texto */
  --text: #1a1b1e;       /* casi negro */
  --text-muted: #5f636b; /* gris medio */
  --border: #b8b8b9;     /* gris claro para bordes */

  /* Accents */
  --accent: #6b4efc;     /* morado vivo, mejor contraste en claro */
  --accent-2: #9d82ff;   /* morado secundario */

  /* Burbujas */
  --bubble-other: #ffffff;
  --bubble-self: #cdcfd4;

  /* Sidebars */
  --side-bg: #f9f9fb;    /* 👈 ahora también claro */
  --side-servers: #eae6ff;
  --side-card: #ffffff;
  --side-border: #d4d7dd;
  --side-hover: #eceef2; /* hover suave gris */
  --side-active: #e1defa; /* highlight leve con morado */
    /* Members */
  --member-card: #ffffff;
  --border-card: #b9b9b9;
  --border-card-hover: #9c9c9c;
  --member-card-hover: #c2c2c2;
}
/* Global */
body {
    font-family: "Radio Canada", Inter, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background: #0f1116;    
    display: flex;
    color: #e6e7eb;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
}

/* Botones base */
.btn-primary {
    padding: var(--spacing-md);
    border: none;
    border-radius: var(--radius-md);
    background: var(--color-primary);
    color: var(--color-white);
    font-size: var(--font-size-lg);
    cursor: pointer;
    transition: background 0.3s;
}

.btn-primary:hover {
    background: var(--color-hover);
}

.icon-btn {
    background: none;
    border: none;
    color: var(--color-white);
    font-size: var(--font-size-lg);
    cursor: pointer;
    padding: var(--spacing-xs);
}

.icon-btn:hover {
    opacity: 0.8;
}

/* Responsivo Global */
@media (max-width: 600px) {
    .chat-header h2 {
        font-size: var(--font-size-md);
    }
}
